Flask==3.0.0
Flask-Limiter
requests
python-dotenv
Flask-CORS
firebase-admin
Flask-JWT-Extended
cryptography
argon2-cffi
email-validator
Flask-SocketIO==5.3.6
eventlet==0.33.3
gunicorn==21.2.0
setuptools
